body{
    padding: 40px;
}

.form-control{
    margin-bottom: 10px ;
}
.cards-block{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 0 20px 20px;
    padding: 20px 30px;
}
.card--importance{
     box-shadow: -5px -5px 25px -5px rgba(13, 110, 253, 0.6) inset;
}
.btn{
    margin-right: 10px;
}
.controls-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.button-sort{
    position: relative;
}